.primary {
  color: grey;
}

.fontXl {
  font-size: 70px;
}

table {
  border-spacing: 5px;
  border-collapse: collapse;
}

td {
  color: #669;
  padding: 10px 20px;
  border-bottom: 1px solid #4c67be;
}

th {
  font-weight: 400;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 20px;
}

tr:nth-child(even) {
  background: rgb(247, 247, 247);
}

tr:hover {
  background-color: lightsteelblue;
  cursor: pointer;
}
