.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  z-index: 1;
  top: 50%;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 25px !important;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}
