.stats {
  display: flex;
  justify-content: space-between;
}

.infoBox {
  flex: 1;
}

/* give margin right to every one except the last one */
.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox__cases {
  /* color: #cc1034 !important; */
  font-weight: 600 !important;
  font-size: 1.75rem !important;
  margin-bottom: 0.5rem !important;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 1rem !important;
  margin-top: 10px !important;
}
