<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" type="text/css" href="./css/product.css" /> -->
    <title>{%PRODUCTNAME%} {%IMAGE%} /// NODE FARM</title>
  </head>
  <body>
    <div class="container">
      <h1>🌽 Node Farm 🥦</h1>

      <div class="product">
        <div class="product__organic {%NOT_ORGANIC%}"><h5>Organic</h5></div>
        <a href="/overview" class="product__back">
          <span class="emoji-left">👈</span>
          Back
        </a>
        <div class="product__hero">
          <span class="product__emoji product__emoji--1">
            {%IMAGE%}{%IMAGE%}{%IMAGE%}{%IMAGE%}{%IMAGE%}{%IMAGE%}{%IMAGE%}{%IMAGE%}{%IMAGE%}
          </span>
        </div>
        <h2 class="product__name">{%PRODUCTNAME%}</h2>
        <div class="product__details">
          <p>
            <span class="emoji-left">🌍</span>
            From {%FROM%}
          </p>
          <p>
            <span class="emoji-left">❤️</span>
            {%NUTRIENTS%}
          </p>
          <p>
            <span class="emoji-left">📦</span>
            {%QUANTITY%}
          </p>
          <p>
            <span class="emoji-left">🏷</span>
            {%PRICE%}€
          </p>
        </div>

        <a href="#" class="product__link">
          <span class="emoji-left">🛒</span>
          <span>Add to shopping card ({%PRICE%}€)</span>
        </a>

        <p class="product__description">{%DESCRIPTION%}</p>
      </div>
    </div>
  </body>
</html>
