<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" type="text/css" href="./css/overview.css" /> -->
    <title>FARM</title>
    <style>
      .container {
        text-align: center;
      }
      .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .card {
        display: flex;
        align-items: center;
        margin: 10px;
      }
      .card__details {
        display: flex;
        padding: 0 20px;
      }
      .card__title-box {
        padding-left: 0 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Node Farm</h1>
    </div>

    <div class="card-container">{%PRODUCT_CARDS%}</div>
  </body>
</html>
