extend base

block content 
    main.main     
        .form-container
            .logout-message You have sucessfully logged out.
            .signin-again
                p
                    span
                        a(href="/login") Log In again! 

