.footer {
  display: flex;
  background: rgba(33, 33, 33, 0.9);
  background-image: linear-gradient(to right, black, #051421);
  color: #fff;
  padding: 10px 0;
  height: 20px;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-family: Georgia, Times, 'Times New Roman', serif;
}
