.story {
  &__pictures {
    // grid-column: full-start/span 5;
    grid-column: full-start/col-end 4;
    background-image: linear-gradient(
        rgba($color-primary, 0.5),
        rgba($color-primary, 0.5)
      ),
      url(../img/back.jpg);
    background-size: cover;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
      padding: 6rem;
    }
  }

  &__img--1 {
    width: 100%;
    grid-row: 2/6;
    grid-column: 2/6;

    box-shadow: 0 2rem 5rem rgba($color-black, 0.1);

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / 5;
      grid-row: 1 / -1;
    }
  }

  &__img--2 {
    // width: 100%;
    // transform: scale(1.15);
    // transform-origin: left;
    width: 115%;
    z-index: 20; /* to move the image little bit ouutside */

    grid-row: 4/6;
    grid-column: 4/7;
    box-shadow: 0 2rem 5rem rgba($color-black, 0.2);

    @media only screen and (max-width: $bp-medium) {
      grid-row: 1 / -1; /* col is alrealy given */
      width: 100%; /* re-adjust the size */
    }
  }

  &__content {
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;

    padding: 6rem 8vw;

    // center with content__parent div (for 1 div)
    // display: grid;
    // place-items: center;

    // other way
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    //one mor way for mulitle colums (for multiple div)
    display: grid;
    place-content: center;
    justify-items: start;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
      grid-row: 5 / 6; /* move it above pic */
    }
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
